@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@800&family=Poppins&display=fallback");

.ios .iosOnly,
.android .androidOnly,
.twitter .twitterOnly,
.instagram .instagramOnly,
.tiktok .tiktokOnly,
.snapchat .snapchatOnly {
  display: unset;
}

#introScreen *,
#nameScreen *,
#successScreen * {
  font-family: Poppins;
}

#introScreen #noVideoArea,
#successScreen {
  background: unset;
  background-image: url(./intro-lnx.png);
  background-position: center;
  background-size: cover;
}

#introScreen #introTop {
  background: unset;
}

#introScreen a {
  color: #fe5000;
}

#introScreen #recordButton,
#buttonsContainer button {
  background-color: #fe5000;
  font-family: Outfit;
}

#introScreen #uploadLink span,
#successScreen #message h1 {
  color: #fe5000;
}

#successScreen #message p {
  color: black;
}
#introScreen #introTerms {
  margin-top: 12px;
  color: black;
}

#introScreen #introBottom,
#successScreen #message {
  margin-top: 100px;
  padding-top: 8px;
  margin-bottom: 40px;
  padding-bottom: 8px;
  margin-right: 20px;
  background: #f9eaaf;
}

#successScreen #message {
  color: black;
  position: absolute;
  bottom: 0;
  width: 95%;
}

#introHostName {
  padding: 0;
  margin: 1rem 2rem 0.5rem 2rem;
  font-family: "Open Sans";
  font-weight: 400;
  color: white;
  text-shadow: 1px 1px 3px #00000077;
  font-size: 1.2rem;
}

#introTitle {
  padding: 0;
  margin: 0 2rem;
  font-size: 2rem;
  line-height: 1.2;
  font-family: "Open Sans";
  font-weight: 800;
  color: white;
  text-shadow: 1px 1px 3px #00000077;
}

#successScreen {
  background-color: black;
}

#successScreen p {
  font-family: "Open Sans";
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

#successScreen h1 {
  font-family: "Open Sans";
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
}
